@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');

.main-gauche {
    height: 1300px;
}

.service-container {
    margin-top: 1vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
}

.service-box {
    margin-bottom: 4vh;
    border: 4px black solid;
    border-radius: 35px;
    background-color: white;
    width: 13vw;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6vh;
}

.service-box p {
    display: flex;
    text-align: center;
    line-height: 3vh;
    font-family: "lemonada";
    font-size: clamp(12px, 1.8vw, 30px);
}

.service-box img {
    width: 10vw;
}

@media only screen and (max-width:1000px) {
    .service-box {
        width: 18vw;
        height: 300px;
    }

    .service-box img {
        width: 15vw;
    }
}