/* [Importation de la Typographie avec Google Font] */
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');

/* Importation du CSS pour avoir accès au variable de couleur */
@import './style.css';


/* [Adaptation de la grandeur ] */
.main-gauche {
    height: 1300px;
}

/*--------------------------[PAGE SERVICE]--------------------------*/

/* Style pour les container dans le main-gauche */

/*Permet de centrer les boîtes et d'ajouter un espace entre elles avec une marge.*/
.service-container {
    margin-top: 1vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
}

/* Ajoute le style global a la boite et centre les items qui sont à l'intérieur (titre et image) */
.service-box {
    margin-bottom: 4vh;
    border: 4px black solid;
    border-radius: 35px;
    background-color: var(--text);
    width: 13vw;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6vh;
    transition: 0.3s ease-in-out;
}

/* Ajoute un style Hover (Changement de couleur, Transition, Agrandissement léger) */
.service-box:hover {
    background-color: var(--blue-text);
    transition: 0.2s ease-in-out;
    scale: 1.1;
    cursor: pointer;
}

/* Rend le PNG noir en blanc */
.service-box:hover img {
    filter: invert(1);
}

/* Rend le text noir en blanc (J'aurais effectivement pu simplement changer la couleur) */
.service-box:hover p {
    filter: invert(1);
}

/* Style des textes dans les boites */
.service-box p {
    display: flex;
    text-align: center;
    line-height: 3vh;
    font-family: "lemonada";
    font-size: clamp(12px, 1.8vw, 30px);
}

/* Largeurs des images dans les boites */
.service-box img {
    width: 10vw;
}

#info-container p {
    font-family: "lemonada";
    line-height: 3vh;
}

/*[ADAPTATION PAR MEDIA QUERIES]*/
@media only screen and (max-width:1000px) {
    .service-box {
        width: 18vw;
        height: 300px;
    }

    .service-box img {
        width: 15vw;
    }
}


/*--------------------------[PAGE NOUS JOINDRE]--------------------------*/

/* Style permettant de rendre l'image flexible ainsi que de la centrer */
.map-image {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}

.map-image img {
    display: flex;
    width: 50vw;
}

/*[ADAPTATION PAR MEDIA QUERIES]*/

@media only screen and (max-width:1000px) {
    .map-image img {
        width: 70vw;
    }
}