h3 {
    font-size: 3em;
}

main h4 {
    font-size: 2.8em;
    padding-bottom: 20px;
}

.main-gauche {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 1300px;
}

.main-gauche::-webkit-scrollbar {
    display: none;
}

.main-gauche img{
    justify-content: center;
    width: 100%;
    height: 40vh;
}

.main-gauche p {
    font-size: 1.7em;
}
