/*STYLE CRÉER PAR JÉRÉMY THÉRIAULT*/
/*Plusieurs modifications apportées par Zackary Warren*/


/* [Importation de la Typographie avec Google Font] */
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');

/*-------------------------- [IDENTIFICATION DES VARIABLES] --------------------------*/
:root {
    --bg: #B5B5B5;
    --hover: #0B4680;
    --blue-text: #0B4680;
    --text: white;
    --bg-flou: rgba(255, 255, 255, 0.25);
    --bg-button: rgba(255, 255, 255, 0.5);
    --bd-button: rgba(255, 255, 255, 0.75);
    --text-shadow: rgba(0, 0, 0, 0.101);
}

/*-------------------------- [STYLE GÉNÉRAL] --------------------------*/

/* Enlève les marges par défaut */
* {
    margin: 0;
    padding: 0;
}

/* Enlève la décoration des balise <a> */
a {
    text-decoration: none;
}
/*enlève le style des listes et change la font*/
li {
    list-style: none;
    color: var(--blue-text);
    font-family: "Lemonada", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-shadow: 0px 5px var(--text-shadow);
}
/*désine la hauteur et la largeur des boutons, la couleur de fond et des bordures , et change la font*/
button {
    width: 18vw;
    height: 85px;
    background: var(--bg-button);
    color: black;
    font-size: clamp(10px, 1.5vw, 20px);
    font-family: "Lemonada", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-shadow: 0px 5px var(--text-shadow);
    border: solid 5px var(--bd-button);
    border-radius: 50px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.032);
    transition: all 0.3s ease-in-out;
}
/* Désigne comment les boutons doivent se placer (colonne) et ajoute un espace entre chaque bouton*/
.container-button {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
/*change la couleur de fond et la couleur du text lorsque le bouton est survolé*/
button:hover {
    background-color: var(--hover);
    color: var(--text);
}
/*Change pour tout les titre la typo*/
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text);
    font-family: "Lemonada", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-shadow: 0px 5px var(--text-shadow);
}
/*met tout les paragraphes en noir*/
p {
    color: black;
}
/* change la font du footer sur les paragraphes*/
footer p {
    font-family: "lemonada";
    line-height: 3vh;
}
/*désigne le style de la ligne*/
hr {
    height: 10px;
    background: #fff;
    border: none;
    margin: 50px 0px;
    border-radius: 5px;
}

/* Animation CSS changeant la position d'un dégradé linéaire en boucle.*/
body {
    background: linear-gradient(135deg, #b36e7d, #8f87a6, #3f869d, #0b2e4a, #b97651);
    background-size: 400%, 400%;
    animation: animationBackground 8s ease-in-out infinite;
}

@keyframes animationBackground {

    0% {
        background-position: 0% 25%;
    }

    25% {
        background-position: 25% 50%;
    }

    50% {
        background-position: 50% 75%;
    }

    75% {
        background-position: 75% 100%;
    }

    100% {
        background-position: 0% 25%;
    }
}
/*désigne le style de la boite qui entout le main et le header*/
.wrap {
    margin: 50px auto;
    border: solid 10px var(--bd-button);
    border-radius: 50px;
    width: 80vw;
    max-width: 1407px;
    justify-content: center;
}
/*désigne l'emplacement du nav et de l'image, et le style du header (contour, couleur, flou)*/
header {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
    max-width: 1407px;
    background: var(--bg-flou);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 40px 40px 0px 0px;
}
/*désigne la largeur de l'image et la position*/
#banner {
    width: 60vw;
    padding: 20px;
    margin: auto;
    max-width: 1200px;
}
/*désigne la couleur de fond, les bordures, le flou, la largeur et sa position*/
main {
    background: var(--bg-flou);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 80vw;
    margin: auto;
    border-radius: 0px 0px 40px 40px;
    border-color: var(--bd-button);
    max-width: 1407px;
}
/*désigne la couleur des h2, sa taille et sa position*/
h2 {
    text-align: center;
    padding: 20px;
    font-size: 35px;
    color: var(--blue-text);
}
/*désiqne l'espace entre les deux boites et leur position*/
.container-main {
    display: flex;
    padding: 20px;
    gap: 20px;
    filter: blur(0px);
}

/*désigne la largeur de la boite de gauche, son fond et les bordures*/
.main-gauche {
    background: var(--bg-button);
    border: solid 5px var(--bd-button);
    border-radius: 50px;
    width: 60vw;
    padding: 20px;
}
/*désigne la taille du text lorsqu'on change la largeur de la page*/
.main-gauche h3 {
    font-size: clamp(25px, 1.5vw, 30px);
    color: var(--blue-text);
}
/*désigne la taille du text lorsqu'on change la largeur de la page*/
.main-gauche h4 {
    font-size: clamp(20px, 1vw, 30px);
    color: var(--blue-text);
}
/*désigne la largeur, la couleur de fond et des bordure de la boie de gauche*/
aside {
    background: var(--bg-button);
    border: solid 5px var(--bd-button);
    border-radius: 50px;
    width: 20vw;
    padding: 20px;
}
/*désigne la largeur et hauteur des images*/
aside img {
    border: 3px white solid;
    border-radius: 10px;
    width: 8vw;
    height: 8vw;
    object-fit: cover;
}

/*désigne l'emplacement*/
.facebook {
    margin: 20px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
}
/*désigne la taille du test par rapport a la taille du navigateur */
.facebook h5 {
    font-size: clamp(10px, 1.5vw, 15px);
}
/*désigne la taille de l'image et sa forme*/
.facebook img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

/* [STYLE FOOTER] */
/*désigne l'emplacement des deux boites, le couleur, les bordures, le flou*/
footer {
    background: var(--bg-flou);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 80vw;
    margin: auto;
    border-radius: 50px 50px 50px 50px;
    border: solid 5px var(--bd-button);
    margin-bottom: 50px;
    max-width: 1400px;
    display: flex;
    justify-content: center;
}
/*désigne la largeur des images de la boite a droite*/
footer img {
    width: 7vw;
    margin-right: 20px;
}
/*désigne la position des images du haut et leur espacement*/
.ligne-haut {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 40px 0px 0px 40px;
}
/*désigne la position des images de la ligne du bas et leur espacement*/
.ligne-bas {
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px 40px;
}
/*désigne leur position dans la boite*/
.ligne-haut,
.ligne-bas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
/*désigne la largeur du container des deux boites, la talle, et l'espacement*/
.container-footer {
    display: flex;
    gap: 1vw;
    padding: 20px;
    width: 80vw;
    max-width: 1400px;
    justify-content: space-around;
}

/*désigne la couleur du fond et et les bordures, la taille*/
.footer-droite {
    background: var(--bg-button);
    border: solid 5px var(--bd-button);
    border-radius: 50px;
    width: 30vw;
    padding: 20px;
    max-width: 650px;
}

/*désigne l'espacement entre les textes*/
.liste-info {
    display: flex;
    line-height: 20px;
    gap: 30px;
    padding: 20px;
    width: 30vw;
}

.liste-info .un {
    line-height: 50px;
    align-items: center;
}

/*désigne la couleur des textes dans le footer et leur taille*/
.footer-gauche li,
h4,
h5 {
    color: black;
    font-size: clamp(10px, 3vw, 20px);
}
/*désigne l'emplacement des information la couleur de fond*/
.info {
    flex-direction: column;
    background: var(--bg-button);
    border: solid 5px var(--bd-button);
    border-radius: 50px;
    width: 35vw;
    padding: 20px;
    max-width: 650px;
}
/*désigne la taille du texte par rapport a la tialle du navigateur*/
.info p {
    font-size: clamp(17px, 1vw, 18px);
}
/*désigne l'emplacement de texte*/
.mois {
    margin: 20px auto;
    display: flex;
    gap: 30px;
    line-height: 15px;
    width: 20vw;
}
/*désigne le style du select*/
select {
    width: 150px;
    scale: 1.25;
    border-radius: 5px;
}

/* [STYLE DU MENU NAV] */
/*désigne la taille*/
nav {
    max-width: 1407px;
}

/*désigne la couleur de fond l,emplacement des li*/
nav ul {
    background-color: var(--bg-button);
    display: flex;
    width: 80vw;
    gap: 5vw;
    font-size: clamp(10px, 1.5vw, 25px);
    justify-content: center;
    align-items: center;
    max-width: 1410px;
    height: 8vh;
}
/*désigne la transition*/
nav ul li {
    transition: all 0.3s ease-in-out;
}
/*désigne la couleur */
nav ul li:hover {
    color: black;
    transition: all 0.3s ease-in-out;
}

/*-------------------------- [ADAPTATION PAR MEDIA QUERIES]  --------------------------*/
/*changement lorsque le navigateur est a  moins de 1000px*/
@media only screen and (max-width:1000px) {
    /*change l'emplacement*/
    .container-main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /*déasigne la largeur*/
    .main-gauche {
        width: 70vw;
    }
    /*n'affiche pu la boite de droite*/
    aside {
        display: none;
    }
    /*désigne l'emplacement des deux boites dans le footer*/
    .container-footer {
        flex-direction: column;
        align-items: center;
    }
    /*désigne la largeur des boites et leur position*/
    .footer-droite {
        width: 70vw;
        justify-content: center;
        padding-bottom: 5vh;
    }

    .info p {
        width: 40vw;
    }
    /*désigne la taille des images*/
    .ligne-haut {
        scale: 1.5;
    }
    /*désigne la taille des images*/
    .ligne-bas {
        scale: 1.5;
    }
    /*désigne la largeur*/
    .trois {
        width: 50vh;
    }
    /*désigne la largeur*/
    .info {
        width: 70vw;
    }
    /*désigne la position*/
    .mois {
        justify-content: center;
    }
}