@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&display=swap');

:root {
    --bg:#B5B5B5;
    --hover:#0B4680;
    --text: white;
    --bg-button:rgba(255, 255, 255, 0.5);
    --bd-button:rgba(255, 255, 255, 0.25);
    --text-shadow:rgba(0, 0, 0, 0.101);
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    width: 18vw;
    height: 85px;
    background: var(--bg-button) ;
    color: black;
    font-size: 24px;
    font-family: "Lemonada", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-shadow: 0px 5px var(--text-shadow);
    border: solid 5px var(--bd-button);
    border-radius: 50px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.032);
}

.container-button {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

button:hover {
    background-color: var(--hover);
    color: var(--text);
}

li, h1, h2, h3 , h4 , h5, h6 {
    color: var(--text);
    font-family: "Lemonada", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-shadow: 0px 5px var(--text-shadow);
}

p {
    color: black;
}

hr {
    height: 10px;
    background: #fff;
    border: none;
    margin: 50px 0px;
}


body {
    background: url(./medias/img/background.jpg);
    background-repeat: no-repeat;
}

.wrap {
    margin: 50px auto;
    border: solid 5px var(--bd-button);
    border-radius: 50px;
    width: 80vw;
}

header {
    display: flex;
    flex-direction: column;
    background: var(--bg-button);
    backdrop-filter: blur(10px);
    width: 80vw;
    margin: auto;
    border-radius: 50px 50px 0px 0px;
}

header img {
    width: 60vw;
    height: 400px;
    padding: 20px;
    margin: auto;
}

main {
    background: var(--bg-button);
    backdrop-filter: blur(10px);
    width: 80vw;
    margin: auto;
    border-radius: 0px 0px 50px 50px;
}

h2 {
    text-align: center;
    padding: 20px;
}

.container-main {
    display: flex;
    padding: 20px;
    gap: 20px;
    filter: blur(0px);
}


.main-gauche {
    background: var(--bg-button);
    border: solid 5px var(--bd-button);
    border-radius: 50px;
    width: 60vw;
    padding: 20px;
}

aside {
    background: var(--bg-button);
    border: solid 5px var(--bd-button);
    border-radius: 50px;
    width: 20vw;
    padding: 20px;
}

aside img {
    border-radius: 10px;
    width: 8vw;
    height: 8vw;
    padding: 0.3vw;
}


.facebook {
    margin: 20px 0px 0px;
    display: flex;
    font-size: 1.3em;
    line-height: 60px;
    gap: 0px;
}

.facebook img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}


footer {
    background: var(--bg-button);
    backdrop-filter: blur(10px);
    width: 80vw;
    margin: auto;
    border-radius: 50px 50px 50px 50px;
    border: solid 5px var(--bd-button);
    margin-bottom: 50px;
}

.container-footer {
    display: flex;
    padding: 20px;
    gap: 50px;
    width: 80vw;
}



.footer-droite {
    background: var(--bg-button);
    border: solid 5px var(--bd-button);
    border-radius: 50px;
    width: 35vw;
    padding: 20px;
}


.liste-info {
    display: flex;
    line-height: 15px;
    gap: 30px;
    padding: 20px;
    width: 30vw;
}

.footer-gauche li, h4, h5{
    color: black;
}

.info {
    flex-direction: column;
    background: var(--bg-button);
    border: solid 5px var(--bd-button);
    border-radius: 50px;
    width: 35vw;
    padding: 20px;
}

.mois {
    margin: 20px auto;
    display: flex;
    gap: 30px;
    line-height: 15px;
    width: 20vw;
}

select {
    width: 150px;
}



nav ul{
    background-color: var(--bg-button);
    display: flex;
    width: 80vw;
    gap: 5vw;
    font-size: 2em;
    justify-content: center;
}

nav ul li:hover {
    color: var(--hover);
}
